<h2><%= t("book.comment") %></h2>
<%= form_with model: [ book, book.comments.build ], class: "form" do |form| %>
  <div class="form__group">
    <%= form.text_area :text, class: "form__input" %>
  </div>
  <div class="">
    <%= form.submit t("web.submit"), class: "btn btn--secondary" %>
  </div>
<% end %>