<h2><%= t("book.comments") %></h2>
<% if book.comments.size > 1 %>
  <% book.comments.each do |comment| %>
    <%= render "comment", comment: comment %>
  <% end %>
<% else %>
  <p><%= t("book.comment_list_blank") %></p>
<% end %>