<%= form_with model: book, html: { class: "form" } do |f| %>
  <% if book.errors.any? %>
    <div class="error-message">
      <%= book.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <div class="form__group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form__input" %>

    <%= f.label :author %>
    <%= f.text_field :author, class: "form__input" %>

    <%= f.label :description %>
    <%= f.text_area :description, class: "form__input" %>

    <div class="book__actions form__footer">
      <% if book.new_record? %>
        <%= link_to t("web.cancel"), books_path, class: "btn btn--light" %>
      <% else %>
        <%= link_to t("web.cancel"), book_path(book), class: "btn btn--light",
                    data: { turbo_frame: "_top" } %>
      <% end %>
      <%= f.submit t("web.submit"), class: "btn btn--secondary" %>
    </div>
  </div>
<% end %>