<%= turbo_stream_from "books" %>
<div class="header">
  <h1><%= t("book.list") %></h1>
  <% if current_user %>
    <%= link_to t("book.new"), new_book_path, class: "btn btn--primary", 
                data: { turbo_frame: dom_id(Book.new) } %>
  <% end %>
</div>
<%= turbo_frame_tag Book.new %>
<%= turbo_frame_tag "books" do %>
  <%= render @books %>
<% end %>
