<%= link_to t("web.back_to"), books_path %>
<div class="header">
  <h1><%= @book.title %></h1>
  <% if current_user %>
    <div class="book__actions">
      <%= link_to t("web.destroy"), book_path(@book), class: "btn btn--light",
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <%= link_to t("web.edit"), edit_book_path(@book), class: "btn btn--secondary" %>
    </div>
  <% end %>
</div>
<div class="book">
  <div>
    <strong><%= t("book.author") %></strong>
    <%= @book.author %>
  </div>
  <% if @book.description.present? %>
    <div>
      <strong><%= t("book.description") %></strong>
      <%= @book.description %>
    </div>
  <% end %>
</div>

<%= render "comment_form", book: @book %>
<%= render "comment_list", book: @book %>
