.header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  justify-content: space-between;
  margin-top: var(--space-m);
  margin-bottom: var(--space-l);
  min-height: 40px;

  @include media(tabletAndUp) {
    margin-bottom: var(--space-xl);
  }
}