<header class="navbar">
  <% if user_signed_in? %>
    <div class="navbar__name">
      <%= current_user.name %>
    </div>
    <%= button_to t("web.sign_out"),
                  destroy_user_session_path,
                  method: :delete,
                  class: "btn btn--dark" %>
  <% else %>
    <%= link_to t("web.sign_in"),
                new_user_session_path,
                class: "btn btn--dark navbar__right" %>
  <% end %>
</header>