<!DOCTYPE html>
<html>
  <head>
    <title>BookCatalog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="flash">
      <%= render "layouts/flash" %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
